* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    :focus {
        outline: 3px dotted blue;
        offset: 1em;
    }
}

body {
    --darkred: #6A0025;
    --accentred: #6a002580;
    --white: #FFF;
    --lightred: #F0E5E9;
    --black: #1F000B;

    --vag-rund: Arial, Helvetica, sans-serif;
    --open-sans: "Open Sans";

    --font-size-desktop-xl: 3em;
    --font-size-desktop-l: 2em;
    --font-size-desktop-m: 1.3em;
    --font-size-desktop-s: 1.2em;

    --font-size-mobile-xl: 2em;
    --font-size-mobile-l: 1.2em;
    --font-size-mobile-m: 1em;
    --font-size-mobile-s: 0.8em;

    --light: 400;
    --normal: 500;
    --bold: 600;

    font-family: Arial, sans-serif;
    color: var(--black);
    background-color: var(--lightred);
    line-height: 1.4;
    font-size: var(--font-size-desktop-s);
}

ol,
ul {
    list-style: none;

    li {
        color: var(--white);
    }
}

h1 {
    font-size: var(--font-size-mobile-xl);
    color: var(--darkred);
    @media (min-width:850px){
        font-size: var(--font-size-desktop-xl);
    }
}

h2 {
    font-size: var(--font-size-mobile-l);
    padding-bottom: 30px;
    color: var(--darkred);
    @media (min-width:850px){
        font-size: var(--font-size-desktop-l);
    }
}

h3 {
    font-size: var(--font-size-mobile-m);
    @media (min-width:850px){
        font-size: var(--font-size-desktop-m);
    }
}

a {
    text-decoration: none;
    color: inherit;
    border-radius: 0.6em;

    &:hover,focus{
    text-decoration: underline;
    }
}

button{
    padding: 15px 40px;
    background-color: var(--darkred);
    color: var(--white);
    align-items: center;
    border: none;
    border-radius: 10px;
}

.cta-btn{
    background-color: var(--black); 
    :hover{
        background-color: var(--lightred);
        color: var(--black);
    }
}
.primary-btn {
    background-color: var(--darkred);
}

.primary-btn:hover {
    background-color: var(--accentred);
}

.search-btn{
    background-color: var(--accentred);
    color: var(--darkred);
}

.cat-button,.popup-button {
    /* webinars buttons */
    padding: 10px 20px;
    border: 2px solid var(--darkred);
    color: var(--white);
    background-color: var(--darkred);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cat-button:hover {
    background-color: var(--white);
    color: var(--darkred);
}

input[type="button"]{
    padding: 10px 20px;
    border: none;
    background-color: var(--darkred, #6A0025);
    &:checked {
        background-color: var(--accentred);
     }
}

input[type="search"],input[type="search"]:focus{
    width: 100%;
    height: 3rem;
    padding: 1.5rem;
    margin: 1rem 0;
    border: none;
    outline: none;
    background-color: var(--white) ;
}

/* Footer */
footer {
    display: none;
    @media (min-width: 600px) {
      width: 100%;
      height: 85px;
      background-color: #6a0025;
      padding: 15px;
      display: flex;
      color: #fff;
      box-sizing: border-box;
    }
  }
  
  footer > a:nth-child(1) {
    /* Target alleen de eerste a child van footer voor de active look */
    @media (min-width: 600px) {
      font-weight: 400;
      color: #ffffff;
      align-self: center;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
  
  footer a {
    @media (min-width: 600px) {
      color: #fff;
      text-decoration: none;
    }
  }
  
  .footer-item {
    @media (min-width: 600px) {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      width: 100%;
      margin-right: 100px;
    }
  }
  
  .footer-item li {
    @media (min-width: 600px) {
      margin-right: 20px;
    }
  }
  